* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
}

html {
    font-size: 72.5%;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw; */
    /* height: 15vh; */
    padding: 10px 20px 0px 20px
    /* border: 0.2rem solid black; */
}

.logo {
    display: flex;
    /* height: 15vh; */
    
    align-items: center;
    /* font-weight: 800;
    font-size: 2.5rem; */    
}

a {
    text-decoration: none;
    color: black;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}
  
.hamburger,
.hamburger:before,
.hamburger:after {
    content: "";
    display: block;
    background-color: #333;
    height: 5px;
    width: 25px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
}
  
.hamburger:before {
    margin-top: 6px;
}
  
.hamburger:after {
    margin-top: 6px;
}
  

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.8rem;
}

.nav-bar li {
    margin-right: 10px;
}   
  

li {
    list-style: none;    
}

.box {
    display: flex;
    margin: 5px;
    /* border-bottom: 0.2rem solid black; */
    list-style: none;
}

section {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;    
    
}

article {
    margin: 20px;
}

.texto {
    display: block;    
    width: 640px;
    height: 250px;
    justify-content: center;
    align-items: flex-start;   
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.nosotros {
    font-size: 1.6rem;
}


.img {
    display: flex;
    position: relative;
    width: 640px;
    height: 400px;
    overflow: hidden;
}
  
.img img {
    position: absolute;
    width: 640px;
    height: 400px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.img img.active {
    opacity: 1;
}
  


.clientes{
    display: block;
   /*  flex-flow: column wrap; */
    margin-top: 10px;
    padding: 0px 20px 0px 20px
}

h1{
    font-size: 4rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
   
}

.lista-clientes {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
}

.box-clientes {
    display: flex;
            
}

.lista-clientes .box-clientes a img {
    width: 155px;
    height: 125px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;   
}

@media (max-width: 480px) {
    /* Agrega aquí los estilos específicos para dispositivos móviles */
    *{
        padding: 0px;
    }
    
    header {
        display: flex;
        flex-flow: column wrap;        
        justify-items: center;
      
    }
    
    .menu-toggle {
        display: block;        
    }
    
    .nav-bar {
        display: none; /* Agrega esta línea para ocultar inicialmente el menú */
    }
      
    .nav-open {
        display: flex; /* Agrega esta línea para mostrar el menú cuando se agrega la clase "nav-open" */
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
    }

        
    .nav-open .nav-bar {
        display: flex;
    }
    
    .nav-open .hamburger {
        background-color: transparent;
    }
    
    .nav-open .hamburger:before {
        transform: translateY(9px) rotate(45deg);
    }
    
    .nav-open .hamburger:after {
        transform: translateY(-9px) rotate(-45deg);
    }

 /*    section {
        display: block;
        padding: 10px;
    } */
 
    .texto {
      width: auto;
      height: auto;
      align-items: center;
      text-align: center;
      padding: 0 20px;
    }
    .img {
      width: 220px;
      height: 280px;
      margin: 20px 0;
    }
    .img img {
      width: 350px;
      height: auto;
    }

    .clientes {
      padding: 0;      
    }

    .lista-clientes {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        overflow: hidden;
    }

    .lista-clientes .box-clientes a img {
        width: 210px;
        height: 180px;
        
    }
}
  
  /* Media queries para iPads y tabletas */
@media (min-width: 481px) and (max-width: 1024px) {
    /* Agrega aquí los estilos específicos para iPads y tabletas */
    section {
        display: block;
        /* flex-flow: row wrap; */
        /* justify-content: center;   */ 
        
    }

    .container {
      padding: 0 20px;
    }
    .texto {
      width: 940px;
      height: 250px;
    }
    
    .img {
      width: 940px;
      height: 400px;
      margin: 0 0;
      display: flex;
      justify-content: center;      
    }
    
    .img img {      
      width: 640px;
      height: 400px;     
    }

    .clientes {
      padding: 0;
    }

    .lista-clientes .box-clientes a img {
        width: 216px;
        height: 196px;
    }
    
}
  
